<!DOCTYPE html>
   <head>
	<title>Centrala</title>
	<link rel="stylesheet" href="../../../static/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
   <body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<div class="container-fluid">
    			<a class="navbar-brand" href="/centrala">Centrala</a>
			<a class="navbar-brand" href="/dateFunctionareInitial">Date Functionare</a>
    			<a class="navbar-brand" href="/programCentrala">Program Centrala</a>
  		</div>
	</nav>


	
	<div class="card">
		<div>
			DATE FUNCTIONARE
		</div>	
		
		<div>
			<label for="anull" >An</label>
			<select onchange="selectAn()" id="an">

  			</select>
		</div>

		<div>
			<label for="lunaa" >Luna</label>
			<select id="luna">

   			</select>
		</div>

		<div>
			<a class="btn btn-primary" onclick="setLuna()" id="linkul" href="/dateFunctionare">SET</a>
		</div>
	</div>

	<div class="card">
		<div>
			<table id="data" class="table table-dark table-striped">
    			<thead>
      				<tr>
        				<th>nr</th>
        				<th>Data Start</th>
        				<th>Data Stop</th>
        				<th>Timp functionare</th>
						<th>temp Start</th>
						<th>temp Stop</th>
						<th>prog Start</th>
						<th>prog Stop</th>
						<th>temp ext start</th>
						<th>temp ext stop</th>
      				</tr>
    			</thead>
    			<tbody>
      				{% for item in items %}
        			<tr>
          				<td>{{ item[0] }}</td>
          				<td>{{ item[1] }}</td>
          				<td>{{ item[2] }}</td>
          				<td>{{ item[3] }}</td>
					<td>{{ item[4] }}</td>
					<td>{{ item[5] }}</td>
					<td>{{ item[6] }}</td>
					<td>{{ item[7] }}</td>
					<td>{{ item[8] }}</td>
					<td>{{ item[9] }}</td>
      	  			</tr>
      				{% endfor %}
    			</tbody>
  			</table>
		</div>
	</div>

	
    	<script>
		function selectAn() {
			var x = document.getElementsByTagName("select")[0].selectedIndex;
			var listan_parsed = JSON.parse('{{ list_an | tojson }}');
			var lunalist_parsed = JSON.parse('{{ lunalist | tojson }}');
			$("#luna").children().remove();
			var selectLuna = document.getElementById("luna");
			for (let i=0; i<lunalist_parsed[x].length; i++) {
				var option_luna = document.createElement("option");
				var luna = lunalist_parsed[x];

				option_luna.value = luna[i];
				option_luna.text = luna[i];
				selectLuna.appendChild(option_luna);
			}
					};
		function selectAnInit() {
			var listan_parsed = JSON.parse('{{ list_an | tojson }}');
			var lunalist_parsed = JSON.parse('{{ lunalist | tojson }}');
			var selectAn = document.getElementById("an");
			var selectLuna = document.getElementById("luna");
			for (let i=0; i<listan_parsed.length; i++) {
				var option_an = document.createElement("option");
				option_an.value = listan_parsed[i];
				option_an.text = listan_parsed[i];
				selectAn.appendChild(option_an);
			}
			for (let i=0; i<lunalist_parsed[0].length; i++) {
				var option_luna = document.createElement("option");
				var luna = lunalist_parsed[0];

				option_luna.value = luna[i];
				option_luna.text = luna[i];
				selectLuna.appendChild(option_luna);
			}

		};
		selectAnInit();
		function setLuna() {
			var anul = document.getElementsByTagName("select")[0].value;
			var luna = document.getElementsByTagName("select")[1].value;
			url = "/dateFunctionare/paginaNoua/" + anul + "/" +luna;

			$("#linkul").attr("href", url);
		}
		
	</script>
   </body>
</html>